{% extends 'layout.twig' %}

{% block body %}
    {% set value = '' %}
    {% set time = '' %}

    {% if glycated and (action == 'edit') %}
        {% set value = glycated.value %}
        {% set time = glycated.time %}
    {% endif %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="mdl-card form">
                <div class="mdl-card__title">
                    <h1 class="mdl-card__title-text form--title">{{ title }}</h1>
                </div>
                <form autocomplete="off" method="POST" class="mdl-card__form" action="/glycated/{{ action }}/{{ glycated_id }}">
                    <div class="mdl-grid">

                        <div class="mdl-cell--12-col">
                            <div class="mdl-textfield--floating-label mdl-textfield mdl-js-textfield">
                                <input value="{{ value }}" class="mdl-textfield__input" name="value" type="number"
                                       min="0" step="0.1" id="value" data-required>
                                <label class="mdl-textfield__label" for="value">Value (%)</label>
                            </div>
                        </div>

                        <div class="mdl-cell--12-col">
                            <div class="mdl-textfield--floating-label mdl-textfield mdl-js-textfield">
                                <input value="{{ time|date('Y-m-d') }}" class="mdl-textfield__input" name="time"
                                       type="date" id="time" data-required>
                                <label class="mdl-textfield__label" for="time">Date</label>
                            </div>
                        </div>

                        <div class="mdl-cell--12-col mdl-cell--action">
                            <button class="mdl-button mdl-js-button" type="submit">Save</button>
                            <a href="#"  onclick="window.history.back();" class="mdl-button mdl-js-button mdl-button--second">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
