{% extends 'layout.twig' %}

{% block body %}
    <!--h3 class="page-title">{{title}}</h3-->

    {% set time = post.published_at %}
    {% set short_id = '' %}
    {% set short_name = '' %}
    {% set long_id = '' %}
    {% set long_name = '' %}

    {% for value in insulin %}
        {% if  value.type == 'short' %}
            {% set short_id = value.insulin_id %}
            {% set short_name = value.name %}
        {% else %}
            {% set long_id = value.insulin_id %}
            {% set long_name = value.name %}
        {% endif %}
    {% endfor %}


    <!--div class="mdl-grid grid__category_list">
        <div class="message">{message }}</div>
    </div-->

    <div class="container">
        <div class="row justify-content-center">
            <div class="mdl-card form--register">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text form--title">{{ title }}</h2>
                </div>
                <form autocomplete="off" method="POST" class="mdl-card__form" action="/note/add/">
                    <input value="{{ short_id }}" name="short_id" type="hidden">
                    <input value="{{ long_id }}" name="long_id" type="hidden">

                    <div class="mdl-grid">

                        <div class="mdl-cell--12-col">

                            <div class="mdl-textfield--floating-label mdl-textfield mdl-js-textfield">
                                <input value="{{ time|date('d-m-Y H:i') }}" class="mdl-textfield__input" name="time" type="datetime-local" id="time" data-required>
                                <label class="mdl-textfield__label" for="time">Date and time...</label>
                            </div>
                        </div>

                        <div class="mdl-cell--12-col">
                            <div class="mdl-textfield--floating-label mdl-textfield mdl-js-textfield">
                                <input value="" class="mdl-textfield__input" name="sugar_level" type="number" step="0.1" id="sugar_level" min="0.1" max="40.0">
                                <label class="mdl-textfield__label" for="sugar_level">Sugar level(mmol/L)...</label>
                            </div>
                        </div>

                        <div class="mdl-cell--12-col">
                            <div class="mdl-selectfield mdl-js-selectfield">
                                <label class="mdl-selectfield__label" for="strip_id">Strips...</label>
                                <select id="strip_id" name="strip_id" class="mdl-selectfield__select" value="{{ strip_id }}">
                                    {% for value in strip %}
                                        <option value="{{value.strip_id}}">{{value.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>



                        <div class="mdl-cell--12-col">
                            <div class="mdl-textfield--floating-label mdl-textfield mdl-js-textfield">
                                <input value="" class="mdl-textfield__input" name="short_volume" type="number" id="short_volume" min="1">
                                <label class="mdl-textfield__label" for="short_volume">{{ short_name }} volume (U)...</label>
                            </div>
                        </div>

                        <div class="mdl-cell--12-col">
                            <div class="mdl-textfield--floating-label mdl-textfield mdl-js-textfield">
                                <input value="" class="mdl-textfield__input" name="long_volume" type="number" id="long_volume" min="1">
                                <label class="mdl-textfield__label" for="long_volume">{{ long_name }} volume (U)...</label>
                            </div>
                        </div>

                        <div class="mdl-cell--12-col mdl-cell--action">
                            <button class="mdl-button mdl-js-button" type="submit">Save</button>
                            <a href="#"  onclick="window.history.back();" class="mdl-button mdl-js-button mdl-button--second">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}